@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <div class="d-flex align-items-center">
        <h1>Welcome to BTNX Profile App</h1>
        <img src="assets/BTNX_logo_full_colour.png" alt="BTNX Logo" class="app-logo ms-3"/>
    </div>
    <p class="lead">Manage your profile information easily with our simple interface.</p>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Profile</h5>
                    <p class="card-text">View your current profile information.</p>
                    <a href="/view-profile" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Profile</h5>
                    <p class="card-text">Update your profile information.</p>
                    <a href="/edit-profile" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
