@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center">
        <div class="d-flex flex-column">
            <a class="navbar-brand mb-1" href="">BTNX Profile Manager</a>
            <a href="https://www.btnx.com/" target="_blank" rel="noopener noreferrer"
                class="btn btn-primary btn-sm">About BTNX</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler ms-auto" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="view-profile">
                <span class="oi oi-person" aria-hidden="true"></span> View Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-profile">
                <span class="oi oi-pencil" aria-hidden="true"></span> Edit Profile
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
